.breadcrumb {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.breadcrumb-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration-line: underline;
  color: #000000;
  cursor: pointer
}

.vehicle-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}

.product-container {
  padding-bottom: 66px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  column-gap: 64px;
  row-gap: 32px;
  width: 100%;
  max-width: 800px;
  flex-wrap: wrap;
}

.item-description {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 150px;
  width: 100%;
}

.icon-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 10px;
  width: 36px;
  height: 36px;
  border: 1px solid #CED4DA;
  border-radius: 8px;
}

.text-description {
  display: flex;
  flex-direction: column;
}

.description-bold {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #0B0B0B;
}

.description-light {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #737380;
}

.product-page-divider {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  background-color: #CED4DA;
  width: 100%;
}

.divider-sale-card {
  margin-top: 16px;
  margin-bottom: 16px;
  height: 1px;
  background-color: #CED4DA;
  width: 100%;
}

.product-page-section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #0B0B0B;
  padding-bottom: 16px;
  word-break: normal;
}

.text-long-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #737380;
}

.store-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  width: 800px;
  height: 255px;
  background: #FFFFFF;
  border: 1px solid #CED4DA;
  border-radius: 8px;
}

.store-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #0B0B0B;
}

.store-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #737380;
}

.title-section-card {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #0B0B0B;
}

.product-page-details {
  width: fit-content;
  display: flex;
  gap: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.label-value {
  width: fit-content;
}

.product-page-side-divider {
  height: 32px;
  background-color: #CED4DA;
  width: 1px;
}

.link-map {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-top: 16px;
  color: #00212E;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.product-page-text-light {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #737380;
}

.text-bold {
  font-style: normal;
  font-weight: 400;
  font-size: 12px; 
  line-height: 150%;
  color: var(--gray-8);
}

.description-images {
  padding-top: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #737380;
}

.doubt-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
  gap: 16px;
  height: 120px;
  background: #FFFFFF;
  border: 1px solid #CED4DA;
  border-radius: 8px;
  margin-top: 32px;
}

.title-doubt {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #0B0B0B;
}

.subtitle-doubt {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #737380;
}

.whatsapp-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  width: fit-content;
  height: 48px;
  background: #25D366;
  border: 1px solid #25D366;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.description-doubt {
  display: flex;
  flex-direction: column;
}

.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 66px;
}

.sale-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  width: 368px;
  height: max-content;  
  background: #FFFFFF;
  border: 1px solid #CED4DA;
  border-radius: 8px;
}

.container-form-mobile {
  padding-bottom: 32px;
}

.label-special-offer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;
  width: 126px;
  height: 20px;
  background: #00C390;
  border-radius: 44px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  color: #FFFFFF;
  margin-right: 8px;
}

.label-premium {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;
  width: 90px;
  height: 20px;
  background: #0B0B0B;
  border-radius: 44px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  color: #FFFFFF;
  margin-right: 28px;
}

.header-sale-card {
  display: flex;
  align-items: center;
}

.product-infos {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.product-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #0B0B0B;
}

.product-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #737380;
}

.product-before-price {
  padding-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration-line: line-through;
  color: #737380;
}

.price-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-after-price {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #0B0B0B;
}

.discount-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  gap: 10px;
  width: 89px;
  height: 22px;
  background: #E41955;
  border-radius: 64px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 100%;
  color: #FFFFFF;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.inputs-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #000000;
  padding-bottom: 16px;
}

.input-form-sale {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  width: 320px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #737380;
  border: 1px solid #CED4DA;
  border-radius: 8px;
}

.input-form-sale-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  width: 100%;
  height: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #737380;
  border: 1px solid #CED4DA;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #737380;
  overflow: hidden;
  resize: none;
}

.title-contact {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #0B0B0B;
}

.contact-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pill-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pill-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 101.33px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #CED4DA;
  border-radius: 66px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #0B0B0B;
  cursor: pointer;
}

.selected-pill-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 101.33px;
  height: 36px;
  background: #c00d0d;
  border: 1px solid #CED4DA;
  border-radius: 66px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  cursor: pointer;
}

.terms-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #737380;
}


.send-form-button {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 13px;
  width: 320px;
  height: 48px;
  background: #c00d0d;
  border: 1px solid #c00d0d;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.product-page-title-divider {
  margin-top: 0px;
  margin-bottom: 16px;
  height: 1px;
  background-color: #CED4DA;
  width: 100%;
}

@media (max-width: 800px) {
  .product-container {
    max-width: 312px!important;
  }

  .vehicle-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #0B0B0B;
  }

  .breadcrumb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    padding-top: 8px;
    padding-bottom: 12px;
  }

  .item-description {
    width: 45%;
  }

  .text-long-description {
    max-width: 312px;
  }

  .store-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;
    width: 100%;
    height: 255px;
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 8px;
  }

  .doubt-card {
    flex-direction: column;
    height: auto;
  }

  .title-doubt {
    text-align: center;
  }

  .subtitle-doubt {
    text-align: center;
  }

  .whatsapp-button {
    width: 100%;
    max-width: 100%;
  }

  .description {
    column-gap: 0px;
    justify-content: space-between;
  }
}
