.bannerAbout {
	width: 100%;
	height: 304px;
}

.banner-aboout-mobile {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.banner-about-desktop {
  border-radius: 8px;
}

@media (max-width: 800px) {
  .bannerAbout {
    height: 160px;
  }
}