.modal-left-options {
    height: 100vh;
    width: 0px;
    top: 0;
    position: fixed;
    background-color: var(--gray-1);
    transition: all 120ms;
    transition-timing-function: ease-out;
    z-index: 11;
    opacity: 1;
    overflow-y: scroll;
}

.side-modal-open-options {
    width: 420px;
    padding: 24px;
}

.modal-header-options {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.modal-header-options h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

.close-icon-container-options {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-3);
    cursor: pointer;
}